.blue{
  border-radius: 5px;
  background-color: rgb(86, 179, 236);
  border: none;
  color: white;
  padding: 8px 13px;
  text-align: center;
  margin: 10px;
  width: 130px
}

.blue:hover{
  background-color: rgb(50, 150, 212);
}

.center{
  margin-left: 40%;
}
